/*
* @Author: Zihao Tao
* @Date:   2018-11-29 17:05:50
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2018-12-01 18:29:57
*/
.color-box {
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover {
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    &:focus {
        text-decoration: none;
    }
    .count {
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc {
        font-size: 18px;
        .fa {
            margin-right: 5px;
        }
    }
}